.App {
  text-align: center;
}

.App-header {
  background-image: url("./assets/12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* This will make the background fixed */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


button {
  padding: 8px;
}

input {
  padding: 8px;
  outline: none;
}